body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameDetailTitle {
  text-align: center;
}

.gameDetailTags {
  font-style: italic;
  color: grey;
}

.gameDescriptionField {
  height: 200px;
}

.gameDetailPlayerList {
  background-color: aliceblue;
  text-align: center;
}

.gameDetailList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: x-large;
}

.dunginLogo {
  float: right;
  width: 30%;
}

.headerZone {
  background-color: rgba(211, 161, 161, 0.534);
}